@model IEnumerable<Lshp.OpenIDConnect.Service.AdminService.ClientViewModels.ClientGrantType>
@{ 
    Layout = null;
    var id = @ViewBag.clientID;
}

<a href="javascript:void(0)" data-newtarget="AddCustomGrantTypes_new" id="AddCustomGrantTypes" data-href="/ClientGrantType/Create?clientId=@id" class="singleajax">Add</a>
 <div id="AddCustomGrantTypes_new"></div>
<table class="table table-bordered table-hover">
    @foreach (var item in Model)
    {
        <tr><td><a href="javascript:void(0)" data-newtarget="AddCustomGrantTypes_new" id="deleteAddCustomGrantTypes_new" data-href="/ClientGrantType/DeleteClientGrantType/@item.Id?clientId=@item.ClientId" class="singleajax"><i class="fa fa-times" aria-hidden="true"></i></a></td> <td>@item.GrantType </td></tr>
    }
</table>
 
@Html.Partial("_ViewCommonJavascript")