@model Lshp.OpenIDConnect.Service.AdminService.ClientViewModels.Client

@{ 
    Model.ClientId = Guid.NewGuid().ToString().Replace("-","");
}

<form asp-action="EditClient" asp-controller="client" method="post"  class="form-horizontal">

    @Html.Partial("_ViewCommonJavascript")
    @Html.TextBoxFor(i=>i.ClientName)
    @Html.TextBoxFor(i => i.ClientId)
    <button type="submit" class="btn btn-success"> Add</button>
    </form>

