@model IEnumerable<Lshp.OpenIDConnect.Service.AdminService.ClientViewModels.ClientPostLogoutRedirectUri>
@{
    Layout = null;
    var id = @ViewBag.clientID;
}
<a href="javascript:void(0)" data-newtarget="AddClientPostRedirectUri_new" id="AddClientPostRedirectUri" data-href="/ClientLogoutRedirectUri/Create?clientId=@id" class="singleajax">Add</a>
<div id="AddClientPostRedirectUri_new"></div> 
<table class="table table-bordered table-hover">
    @foreach (var item in Model)
    {
        <tr><td><a href="javascript:void(0)" data-newtarget="AddClientPostRedirectUri_new" id="delClientPostRedirectUri_new" data-href="/ClientLogoutRedirectUri/DeleteClientLogoutRedirectUri/@item.Id?clientId=@item.ClientId" class="singleajax"><i class="fa fa-times" aria-hidden="true"></i></a></td> <td>@item.PostLogoutRedirectUri </td> </tr>
    }
</table>
 
@Html.Partial("_ViewCommonJavascript")