@using Lshp.OpenIDConnect.Model.Entities;
@using Lshp.OpenIDConnect.Model;
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (SignInManager.IsSignedIn(User) && !true.Equals(ViewData["signed-out"]))
{<div class="btn-group float-xs-right">

        <button class="btn btn-elegant dropdown-toggle waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hello @UserManager.GetUserName(User)! 
        </button>
        <div class="dropdown-menu">  
            <a asp-area="" class="dropdown-item" asp-controller="Manage" asp-action="Index" title="Manage">My Account</a>

            <div class="dropdown-divider"></div>
            <form asp-area="" asp-controller="Account" asp-action="LogOut" method="post" id="logoutForm" class="navbar-right">
                <button type="submit" class="btn btn-link navbar-btn navbar-link dropdown-item">Log off</button>

            </form>
        </div>
    </div>
}
else
{
    <ul class="nav navbar-nav float-xs-right">
        <li><a asp-area="" class="nav-link waves-effect waves-light text-white" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
