@model Lshp.OpenIDConnect.Core.LoginViewModel

@{
    Layout = null;
}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <link href="~/lib/MDBootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/MDBootstrap/css/mdb.css" rel="stylesheet" />
    <link href="~/lib/MDBootstrap/css/style.css" rel="stylesheet" />
</head>

<body>

    <!--Navbar-->
    <nav class="navbar navbar-dark navbar-fixed-top scrolling-navbar">

        <!-- Collapse button-->
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
            <i class="fa fa-bars"></i>
        </button>

        <div class="container">

        
        </div>

    </nav>
    <!--/.Navbar-->
    <!--Mask-->
    <div class="view hm-black-strong">
        <div class="full-bg-img flex-center">
            <div class="container flex-center">
                
                    <div class="col-lg-6">
                        <!--Form-->
                        <div class="card wow fadeInRight">
                            <div class="card-block">
                                <!--Header-->
                                <div class="text-xs-center">
                                    @*<h3><i class="fa fa-user"></i> Login</h3>*@
                                    @*<a href="" class="btn-floating btn-fb btn-small"><i class="fa fa-facebook"></i></a>
                                    <a href="" class="btn-floating btn-tw btn-small"><i class="fa fa-twitter"></i></a>
                                    <a href="" class="btn-floating btn-gplus btn-small"><i class="fa fa-google-plus"></i></a>
                                    <a href="" class="btn-floating btn-li btn-small"><i class="fa fa-linkedin"></i></a>
                                    <a href="" class="btn-floating btn-git btn-small"><i class="fa fa-github"></i></a>*@
                                    @*<hr>*@
                                    
                                </div>

                                <!--Body-->
                                <div class="md-form">
                                    <i class="fa fa-envelope prefix"></i>
                                    <input type="text" id="form2" class="form-control">
                                    <label for="form2">Your email</label>
                                </div>

                                <div class="md-form">
                                    <i class="fa fa-lock prefix"></i>
                                    <input type="password" id="form4" class="form-control">
                                    <label for="form4">Repeat password</label>
                                </div>

                                <div class="text-xs-center">
                                    <button class="btn btn-primary btn-lg">Login</button>
                                    @*<hr>
    <fieldset class="form-group">
        <input type="checkbox" id="checkbox1">
        <label for="checkbox1">Subscribe me to the newsletter</label>
    </fieldset>*@
                                </div>

                            </div>
                        </div>
                        <!--/.Form-->
                    </div>
                  
            </div>
        </div>
    </div>
    <!--/.Mask-->
  
    <!--Footer-->
    @*<footer class="page-footer center-on-small-only"></footer>*@
    <script src="~/lib/MDBootstrap/js/jquery-2.2.3.js"></script> 
    <script src="~/lib/MDBootstrap/js/tether.js"></script>
    <script src="~/lib/MDBootstrap/js/bootstrap.js"></script>
    <script src="~/lib/MDBootstrap/js/mdb.js"></script>
</body></html>